*, ::after, ::before, input {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f06, #4a90e2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    background-color: #25282A;
}

.slider__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.slider__inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slider__slide {
    display: none;
    min-width: 100%;
    position: relative;
}

.slider__slide.active {
    display: block;
}

.slider__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    border-radius: 5px;
}

.slider__pagination {
    position: absolute;
    bottom: 40px; /* Даем больше места внизу */
    right: 50%;
    transform: translateX(50%);
    display: flex;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #71ABFE;
    border-radius: 50%;
    border: 2px solid #71ABFE;
    display: inline-block;
    transition: all 0.3s;
    cursor: pointer;
}

.dot.active {
    background-color: transparent;
}
.dot.active:hover{
    background-color: transparent;
    border: 2px solid #FFFFFF;
}
.dot:hover{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

@media (max-width: 768px) {
    .caption {
        font-size: 14px;
        bottom: 10px;
        left: 10px;
    }

    .slider__img {
        height: 300px; /* Уменьшаем высоту изображения для мобильных устройств */
    }
}
